body{
    margin-left: 15%;
    margin-right: 15%;
}



.radio-buttons-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.gender-label{
    flex: 1;
}
.options{
    flex: 5;
}

a {
    text-decoration: none;
}